doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAj1JnrkoJ96kLiD4-SuIwOXOmVijR_0bw')
    script(type='text/javascript', src='/javascripts/context.js')

